@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-base1:#000000;
    --color-base2:#FFFFFF;
    --color-principal:#0A3871;
    --color-secundario: #495057;
    --color-terciario: #D8DFE8;
    --color-fondo:#F3F5FC;
    --fuente-Inter:'Inter', sans-serif;
}

*{
   margin: 0;
   padding: 0; 
}

.header{
    background-color: var(--color-fondo);
    display: flex;
    padding: 2%;
}

.presentacion{
    position: relative;
    padding: 25% 50%;
    display: flex;
    background-color: var(--color-fondo);
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-Inter);
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    background-color: var(--color-fondo);
    box-shadow: 0px 0px 5px 1px var(--color-base1);
}

.texto::placeholder{
    color: var(--color-principal);
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.mensaje_encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje_encriptado h2 {
    width: 60%;
    font-family: var(--fuente-Inter);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-secundario);
}

.mensaje_encriptado p {
    width: 80%;
    font-family: var(--fuente-Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: var(--color-base1);
}

.encriptador{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: var(--color-base2);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.encriptador img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.presentacion_texto_parrafo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.presentacion_botones_parrafo{
    font-family: var(--fuente-Inter);
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-secundario);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 8px;
}

.botones{
    display: flex;
    justify-content:flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 60%;
    left: 12%;
    top: 85%;
    font-family: var(--fuente-Inter);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    gap: 15px;
}

.boton_encriptador{
    background-color: var(--color-principal);
    align-items: center;
    color: var(--color-base2);
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 25%;
    text-align: center;
    padding: 2%;
    border-radius: 24px;
}

.boton_desencriptador{
    background-color: var(--color-terciario);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 25%;
    text-align: center;
    padding: 2%;
    border-radius: 24px;
}

.boton_copiar{
    display: flex;
    background-color: var(--color-base2);
    align-items: center;
    color: var(--color-base1);
    justify-content: center;
    gap: 8px;
    width: 20%;
    text-align: center;
    padding: 2%;
    border-radius: 24px;
    visibility: hidden;
}

.boton_copiar:hover{
    margin: 0.3%;
    width: 19.5%;
    padding: 1.8%;
}

.boton_desencriptador:hover,
.boton_encriptador:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.footer{
    padding: 50% 25%;
    color: var(--color-base1);
    background-color: var(--color-fondo);
}

@media(max-width: 769px){
    .presentacion{
        display: flex;
        flex-direction: row;
        padding: 50% 25%;
    }
    .encriptador{
        width: 80%;
        height: 30%;
        left: 15%;
        top: 80%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .presentacion_texto_parrafo{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .presentacion_botones_parrafo{
        font-size: 1rem;
    }
    .botones{
        width: 60%;
        left: 10%;
        top: 70%;
    }
    
    .boton_copiar{
        width: 18%;
        border-radius: 16px;
    }
    
    .boton_copiar:hover{
        margin: 0.3%;
        width: 17.5%;
        padding: 1.8%;
    }

    .boton_encriptador, .boton_desencriptador{
        width: 48%;
        border-radius: 16px;
    }
    .boton_desencriptador:hover,.boton_encriptador:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .mensaje_encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptador img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}

@media(max-width: 376px){
    .presentacion{
        display: flex;
        flex-direction: row;
        padding: 30% 20%;
    }
    .encriptador{
        width: 80%;
        height: 10%;
        left: 10%;
        top: 70%;
    }
    .texto{
        width: 80%;
        height: 50%;
        left: 10%;
        top: 2.5%;
    }
    .presentacion_texto_parrafo{
        width: 80%;
        left: 20%;
        top: 80%;
    }
    .presentacion_botones_parrafo{
        font-size: 0.5rem;
    }
    .botones{
        flex-direction: column;
        width: 60%;
        left: 20%;
        top: 84%;
    }
    
    .boton_copiar{
        width: 16%;
        border-radius: 14px;
    }

    .boton_copiar:hover{
        margin: 0.3%;
        width: 15.5%;
        padding: 1.8%;
    }

    .boton_encriptador, .boton_desencriptador{
        width: 46%;
        border-radius: 14px;
    }
    .boton_desencriptador:hover,.boton_encriptador:hover{
        margin: 0.3%;
        width: 45.5%;
        padding: 1.8%;
    }
    .mensaje_encriptado{
        width: 50%;
        top: 2%;
    }
    .encriptador img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}

